<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<true/>
				<key>PluginType</key>
				<true/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<true/>
				<key>CStates</key>
				<false/>
			</dict>
		</dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EC0 to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExMQA=</data>
					<key>Replace</key>
					<data>WFExMQA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_Q11,0,N) to XQ11</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExMgA=</data>
					<key>Replace</key>
					<data>WFExMgA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_Q12,0,N) to XQ12</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TUhQRgE=</data>
					<key>Replace</key>
					<data>WEhQRgE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(MHPF,1,N) to XHPF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TUhJRgE=</data>
					<key>Replace</key>
					<data>WEhJRgE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(MHIF,1,N) to XHIF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0JJRAg=</data>
					<key>Replace</key>
					<data>WEJJRAg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(GBID,0,S) to XBID</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>Q0ZVTgw=</data>
					<key>Replace</key>
					<data>WEZVTgw=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(CFUN,4,S) to XFUN</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0JTVAg=</data>
					<key>Replace</key>
					<data>WEJTVAg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_BST,0,S) to XBST</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0JJRgA=</data>
					<key>Replace</key>
					<data>WEJJRgA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_BIF,0,N) to XBIF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>CF9QUlc=</data>
					<key>Replace</key>
					<data>CFhQUlc=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _PRW in LID to XPRW (disabling it)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0FUWQI=</data>
					<key>Replace</key>
					<data>R0FUWAI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change GATY to GATX</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1JFRwI=</data>
					<key>Replace</key>
					<data>WFJFRwI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_REG,2,N) to XREG</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WEhDSQg=</data>
					<key>Replace</key>
					<data>WEhDWAg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change XHCI to XHCX (BIOS override)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TUFVTAg=</data>
					<key>Replace</key>
					<data>TUFVWAg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change MAUL to MAUX (BIOS override)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1VQQwg=</data>
					<key>Replace</key>
					<data>WFVQQwg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(UPC,0,S) to XUPC</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Timeout</key>
		<integer>5</integer>
		<key>Secure</key>
		<false/>
		<key>Arguments</key>
		<string>dart=0 -ath9565</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>BGM</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Scan</key>
		<dict>
			<key>Legacy</key>
			<false/>
		</dict>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#FrequencyMHz</key>
		<integer>2000</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<true/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelPm</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookAir6,2</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
</dict>
</plist>